.clickable {
    cursor: pointer;
}

.hide-text {
    color: transparent;
    text-decoration: none;
    &:hover {
        transition: 0.6s ease;
        color: $dark;
        text-decoration: none;
    }
}
