// Body
$body-bg: #EBEDF0;

// Typography
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #8d1b3f;
$indigo: #030303;
$purple: #6f42c1;
$pink: #d63384;
$red: #e55353;
$orange: #f9b115;
$yellow: #ffed4a;
$green: #2eb85c;
$teal: #4dc0b5;
$cyan: #8d1b3f;

$white:    #fff !default;
$gray-100: #ebedef !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #636f83 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

//Styles
$primary:       $blue !default;
$secondary:     $gray-500 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $orange !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;
