.c-footer {
    background: $footer-bg-color!important;
    color: $footer-text-color!important;
    font-size: 13px;

    a {
        color: $footer-link-text-color!important;
        text-decoration: none;
        font-weight: bold;
        
        &:hover {
            color: $footer-link-text-color-hover!important;
            text-decoration: none;
        }
    }
}