//Header Layout
header {
    background: $header-bg-color!important;

    //Profile
    a.c-header-nav-link,
    .c-icon.c-icon-lg {
        color: $header-items-color!important;
        &:hover {
            color: $header-items-color-hover!important;
        }
    }
}

//Header Brand Logo
.c-sidebar-brand {
    background: $header-brand-bg!important;
}
