//Header
$header-bg-color: $white;
$header-items-color: $dark;
$header-items-color-hover: lighten($dark, 40%);
$header-brand-bg: rgba(0,0,21,.2);

//Sidebar
$sidebar-bg-color: $dark;
$sidebar-title-color: darken($white, 55%);
$sidebar-link-text-color: $white;
$sidebar-link-icon-color: $gray-600;
$sidebar-link-icon-color-hover: $white;

//Main
$main-bg-color: $light;

//Footer
$footer-bg-color: $gray-200;
$footer-text-color: $dark;
$footer-link-text-color: $dark;
$footer-link-text-color-hover: lighten($dark, 40%);
