//Sidebar Layout
.c-sidebar {
    background: #3c4b64 !important;
}

//Sidebar Title
.c-sidebar-nav-title {
    padding: .75rem 1rem;
    margin-top: 1rem;
    font-size: 80%;
    font-weight: 700;
    text-transform: uppercase;
    color: rgba(255,255,255,.6) !important;
}

//Toggler
.c-sidebar-minimizer {
    background: rgba(0,0,21,.2) !important;
}
