.c-main {
    //background: $main-bg-color!important;
}

.c-app:not(.c-legacy-theme) .card {
    box-shadow: 0 1px 1px 0 rgba(var(--elevation-base-color),.14),0 2px 1px -1px rgba(var(--elevation-base-color),.12),0 1px 3px 0 rgba(var(--elevation-base-color),.20);
}
